.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.card {
    padding: 24px 24px 48px 24px;
    max-width: 480px;
    width: 100%;
    margin: 200px auto;
}

.title {
    margin-bottom: 24px;
    text-align: center;
}